#!/bin/bash

set -e

## Source debconf library.
. /usr/share/debconf/confmodule

@INCLUDE@

if [ -e /etc/@FLAVOUR@/apache_not_to_be_run ]; then
    db_set @FLAVOUR@/init false
fi

if [ -e /etc/default/@FLAVOUR@ ]; then
    . /etc/default/@FLAVOUR@
    db_set @FLAVOUR@/init $start_at_boot
fi

db_set @FLAVOUR@/enable-suexec true

db_input low @FLAVOUR@/init || true
db_input low @FLAVOUR@/enable-suexec || true
db_go || true

